.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    gap:20px;

    list-style: none;
    /* ul defualt paddind-left:40 */
    /* li defuault no padding no margin */
    margin: 0;
    padding:0;
}
.grid li {
    border: 1px solid #666;
    padding: 10px;
}