

#section_6_systemChanges{

}

#section_6_systemChanges div p span{
display: block;
    background-color: rgba(122,122,122,0);

    margin: 4px 2px;
    padding: 2px 5px;

    font-size: 13px;
    color: rgba(102,102,102,1);
}

@media only  screen and (max-width: 860px){

    #section_6_systemChanges div p span{
        display: block;
        background-color: rgba(122,122,122,0);

        margin: 4px 2px;
        padding: 2px 5px;

        font-size: 13px;
        color: rgba(102,102,102,1);
    }

}