

nav ul {
    display: flex;
    flex-direction: column!important;
}
nav ul li {
    /* list-style-type:none; */
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}
nav ul li a {
    flex: 1 1 auto;
}